@(sports : List[Sport])

@main("Sports") {
    <h1>Sports</h1>
    <table class="table table-striped">
        <tr><th>Sport</th><th>Point Value</th><th>Edit</th></tr>
    @for(sport <- sports) {
        <tr>
            <td>@sport.getName()</td>
            <td>@sport.getPointValue()</td>
            @* TODO: add link to @routes.SportsController.show(sport.getId) *@
            <td>
                <a href="#">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
        </tr>
    }
    </table>
}