@(sports : List[Sport])

@main("Sports") {
    <div class="row">
    <div class="col s12 offset-m3 m6">
      <h1>Sports</h1>
      <ul class="collection">
        @for(sport <- sports) {
          @* TODO: add link to @routes.SportsController.edit(sport.getId()) *@
          <li class="collection-item">
            <div>
              @sport.name <span class="grey-text">(@sport.pointValue points)</span>
              <a href="#!" class="secondary-content"><i class="material-icons left tooltipped" data-position="right" data-tooltip="Edit @sport.name">edit</i></a>
            </div>
          </li>
        }
      </ul>
      </div>
    </div>
}
