@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        @if(title == "") {
            <title>St. Robert AMS</title>
        } else {
            <title>St. Robert AMS | @title</title>
        }

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <!--Import Google Icon Font-->
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/material-icons.css")"  media="screen,projection"/>
        <!--Import materialize.css-->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/materialize.css")">
        <!--<link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/materialize.min.css")"  media="screen,projection"/>-->


    </head>
    <body>
      <nav>
        <div class="nav-wrapper">
          <a href="@routes.HomeController.index()" class="brand-logo right">St. Robert Rams</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li><a href="@routes.SportsController.index()">Sports</a></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="@routes.SportsController.index()">Sports</a></li>
      </ul>

      <div class="container">
          @content
      </div>

      <script type='text/javascript' src='@routes.Assets.versioned("javascripts/jquery-3.3.1.js")'></script>
      <script type="text/javascript" src='@routes.Assets.versioned("javascripts/materialize.js")'></script>
      <!--<script type="text/javascript" src="@routes.Assets.versioned("javascripts/materialize.min.js")"></script>-->
      <script type='text/javascript' src='@routes.Assets.versioned("javascripts/scripts.js")'></script>
    </body>
</html>
